input(type='checkbox')
input#skeuomorphism(type='radio' name='style' checked)
input#neumorphism(type='radio' name='style')
div.toggle-switch
div.background
div.styles
  label(for='skeuomorphism') skeuomorphism
  label(for='neumorphism') neumorphism